:root {
    --accent-color: #85FFBD;
    --main-color: #e8f0fe;
    --bg-color: #fff;
    --border-color: #dadce0;
    --button-hover-bg: #f1f3f4;
    --text-color: #202124;
    --wrapper-bg-color: rgb(82 130 255 / 10%);
    --svg-color: #333333;
    --active-item: rgb(82 130 255 / 10%);
    --context-menu-hover: #f2f2f2;
}

canvas {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    font-style: italic;

    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1240px;
    padding: 0 10px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin-inline: auto;
    background-color: var(--bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid #dadce0;
    border-radius: 9999px;
    overflow: hidden;
    padding: 3px;
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
}

output {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 0;
    margin: 0;
    border: 0;
    max-width: 600px;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background-color: #eaf1fb;
    font: 13px/27px Roboto, Arial, sans-serif;
    font-weight: 600;
}

.nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all .1s ease-in-out;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 25px;
    gap: 5px;
    fill: var(--svg-color);
}

.nav__wrapper:not(.tab-active) {
    &:hover {
        cursor: pointer;
        background-color: var(--button-hover-bg);
    }
}

.tab-active {
    background-color: #85FFBD;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.svg-box {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotateY {
    transform: rotateY(180deg);
}

.input-wrapper {
    display: flex;
    width: 100%;
    max-width: 600px;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;

    &.paste {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border: 0;
        max-height: 47px;
        max-width: 47px;
        width: 100%;
        border-radius: 0 10px 10px 0;
        fill: #fff;
    }

    &.add {
        background-color: #9ccc65;
        transition: all .15s ease-in-out;
    }

    &.save-history {
        background-color: #85FFBD;
    }

    &.remover-text-in-input {
        background-color: #f44336;
        max-height: 47px;
        max-width: 47px;
        width: 100%;
    }

    &.save-history-button {
        background-color: #85a8ff;
        max-height: 47px;
        max-width: 47px;
        width: 100%;
        border-radius: 10px 0 0 10px;
        fill: #fff;
        transition: all .2s cubic-bezier(0.4, 0, 1, 1);

        &.off-history {
            background-color: #676767;
            fill: #333;
        }

    }

    &.reverse-history {
        max-width: 47px;
        width: 100%;
        height: 47px;
        border-radius: 9999px;
        background-color: #85a8ff;
        fill: #fff;
        margin-right: 10px;
    }

    &.remove-all-history {
        max-width: 47px;
        width: 100%;
        height: 47px;
        border-radius: 9999px;
        background-color: #f44336;
        fill: #fff;
        margin-left: 10px;
    }

    &.download {
        position: relative;
        background-color: #A5D6A7;
        width: 47px;
        height: 47px;
        border-radius: 4px 10px 10px 4px;
        transition: all .2s cubic-bezier(0.4, 0, 1, 1);
        fill: #fff;

        &:hover {}
    }
}

.size-selection {
    display: flex;
    gap: 15px;
}

.selector-size {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 9999px;
}

.history-output {
    max-width: 600px;
    width: 100%;
    display: flex;
    gap: 1vh;
    overflow: auto;
}

span.history-text {
    cursor: pointer;
    background-color: #eaf1fb;
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;

    &.active-tab {
        background-color: #cdf6c5;
        box-shadow: inset 0 0 0 1px #333
    }
}

.history-text:hover {
    background-color: rgb(208 227 255);
    transition: background-color .2s ease-in-out;
}

span.remove-item-in-db {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
    border-radius: 0 8px 8px 0;
    width: 100%;
    height: 100%;

    &:hover {
        background-color: #e79eaa;
    }
}

.remove-item-in-db,
.hs-text {
    display: block;
    padding: 5px;
}

.history-row {
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.qr-size {
    flex-grow: 1;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    background-color: #85a8ff38;
    border-radius: 10px 4px 4px 10px;
    text-align: center;
    align-items: center;
    font: 15px / 27px Roboto, Arial, sans-serif;
    font-weight: 600;
}

#qr-size {
    width: 300px;
}

.header-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    gap: 4px;
}

.popup-info {
    width: 155px;
    right: 0px;
    top: 47px;
    position: absolute;
    background-color: #fff;
    color: #202124;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .08), 0 0 1px rgba(0, 0, 0, .16);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.5s;
    z-index: 300;
    display: none;
}

.control-container:hover .popup-info {
    visibility: visible;
    opacity: 1;
    display: block;
}

.popup-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;

    &:hover {
        cursor: pointer;
        background-color: var(--context-menu-hover);
        color: #333;
        fill: var(--svg-color);
    }
}